body {
    color: antiquewhite;
    font-size: x-large;
    background-image: url(images/photo2.jpg)
} 
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px;
}
.box {
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    box-shadow: 0 4px 4px orange;
    transition: 0.3s;
    background-color: rgba(43, 74, 83, 0.452)
} 
.box:hover {
    background-position: center;
    background-image: url(../../Downloads/anoop-surendran-MlfNbpAISto-unsplash.jpg) ;
    cursor: pointer;
    transform: scale(1.03);
} 
a { 
    display: flex;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: darkgrey;
    transition: 0.3s;
}
a:hover {
    background-image: url(images/photo3.jpg);
    background-position: center; 

}
